.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2px;
    background-color: rgb(30,30,30);
    border-radius: 8px;
    box-shadow: rgb(50,50,50);
  }
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(50,50,50);
  }
  
  .contact-info {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color:white;
    text-align: left;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  