#works {
    padding: 50px;
    background-color: #181515;
    text-align: center;
  }
  
  .workstitle {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #f4eeee;
  }
  
  .projectss {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project {
    background-color: #282424;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-10px);
  }
  
  .project-title {
    font-size: 1.8em;
    color: #007acc;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1em;
    color:white;
    line-height: 1.6;
  }
  